$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$roboto-font: "Roboto", sans-serif;

$primary-font: "Big Shoulders", sans-serif;
$secundary-font: "Outfit", sans-serif;

$black: #151515;
$white: #FFFFFF;
$gray: #444444;
$gold: #D5966C;
