.page-location {
  .footer {
    background: $gold;
    color: $black;
    padding: 24px 24px;
    margin-top: 0;
    height: 350px;

    &__title {
      color: $black;
      font-size: 45px;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-weight: 900;
      line-break: 1.5;
    }

    &__desc {
      color: $black;
      font-size: 18px;
      font-family: $secundary-font;
      max-width: 360px;
      line-height: 1.1;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    &__socials {
      margin-top: 12px;
      background: transparent;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      gap: 18px;
      align-items: center;
    }

    &__socials .social img {
      width: 22px;
      height: auto;
      display: block;
      filter: none;
    }
  }

  @media (min-width: $bp-tablet) {
    .footer { 
      padding: 20px 20px; 
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-content: center;
      gap: 30px;
      
      }

      .footer__title {
        font-size: 60px;
        width: auto;
        margin-right: auto;
      }
      .footer__socials {
        justify-content: flex-end;
        align-content: end;
      }

  }

   @media screen and (min-width: $bp-desktop) {
      .footer { 
        padding: 20px 80p; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
        gap: 30px;
      }

      .footer__title {
        padding: 20px 80px;
        font-size: 60px;
        width: auto;
        margin-right: auto;
      }
      .footer__socials {
        padding: 20px 80px;
        justify-content: flex-end;
        align-content: end;
      }
    } 
}