
.header {

    padding-bottom: 16px;

  &__image img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  &__content {
    padding: 16px;
  }

  &__title {
    font-family: $primary-font;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.95;
    margin: 12px 0;
    font-size: 48px;
    span { display: block; }
  }

  &__desc {
    font-family: $secundary-font;
    color: $gray;
    font-size: 16px;
    max-width: 360px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .btn--location {
    display: inline-flex;
    align-items: stretch;
    text-decoration: none;
    border-radius: 2px;
    overflow: hidden;

    .btn__label {
      background: $black;
      color: $white;
      padding: 16px 22px;
      letter-spacing: 2px;
      font-family: $secundary-font;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
    }

    .btn__arrow {
      background: $gold;
      color: $black;
      padding: 16px 18px;
      display: inline-flex;
      align-items: center;
      font-size: 20px;
    }
  }
 
}



@media (min-width: $bp-tablet) {
  .header {
    position: relative;
    padding-bottom: 0;

    &__image img {
      position: absolute;
      width: 65%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }

    &__content {
      position: absolute;
      top: 39%;
      right: 0;
      transform: translateY(-50%);
      width: 420px;
      padding: 64px;
      z-index: 2;
    }

    &__title {
      font-size: 64px;
    }

    &__desc {
      font-size: 18px;
    }
  }
}


@media (min-width: $bp-desktop) {

  .container {
    max-width: 2400px;
    margin: 0 auto;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    align-items: center;
    min-height: 80vh;
  }

  .header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $black;
    grid-column: 1 / 2;
    z-index: 0;
  }

  .header__image {
    grid-column: 2 / 3;
  }
  .header__image img {
    grid-column: 2 / 3;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    z-index: 1;

  }

  .header__content {
    display: contents;
    background-color: $white;
  }

  .header__title {
    grid-column: 1 / 2;
    color: $white;
    background-color: $black;
    padding: 1rem 2rem;
    font-size: 6rem;
    line-height: 1;
    z-index: 2;
  }

  .header__desc {
    grid-column: 3 / 4;
    margin: 2rem 0;
    position: relative;
    top: 25%;
    font-size: 2rem;
    transform: translateY(-60%);
    background-color: $white;
    z-index: 2;
  }

  .btn--location {
    grid-column: 3 / 4;
    position: relative;
    top: -70%;
  }
}