.page-location {
  header.header {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    box-sizing: border-box;
    margin-bottom: 0;
    background: $black;
  
    .btn-home {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 40;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      overflow: hidden;
      
    }

    .btn__back {
      background: $gold;
      color: $black;
      padding: 16px 18px;
      display: inline-flex;
      align-items: center;
      font-size: 20px;
    }

     .btn__label {
      background: $black;
      color: $white;
      padding: 16px 22px;
      letter-spacing: 2px;
      font-family: $secundary-font;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
    }

    .header__image img {
      width: 100%;
      height: 650px;
      display: block;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }
  }
}

@media (min-width: $bp-tablet) {

  .page-location {

  body {
    margin: 0;
  }
  .header {
    position: relative;
    height: 60vh;
  }

  .header__image {
    width: 100%;
    height: 100%;
  }

  .header__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn-home {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d87d4a;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
 }
}


@media (min-width: $bp-desktop) {
 .page-location {
    background-color: $black;
    color: $white;
  }
  .header {
    position: relative;
    width: 100%;

    &__image {
      img {
        width: 100%;
        height: 1100px;
        display: block;
        object-fit: cover;
        object-position: center;
      }
    }
  }

    .btn-home {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.3s ease;

      .btn__back {
        background-color: $gold;
        color: $white;
        padding: 25px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .btn__label {
        background-color: $black;
        color: $white;
        padding: 25px 35px;
        display: flex;
        align-items: center;
        letter-spacing: 3px;
      }

      &:hover {
        .btn__back { background-color: $black; }
        .btn__label { background-color: $gold; }
      }
    }
  }